[Unit]
Description=PiDex - Home Server Watchman
Documentation=https://github.com/Shivamingale3/pi_dex
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pidex run
Restart=on-failure
RestartSec=5
User=pidex
Group=pidex
RuntimeDirectory=pidex
StateDirectory=pidex
ConfigurationDirectory=pidex
StandardOutput=journal
StandardError=journal
EnvironmentFile=-/etc/pidex/env

[Install]
WantedBy=multi-user.target
